# This file shows mappings between subdirs/files and the individuals and
# teams who own them. You can read this file yourself or use tools to query it,
# so you can quickly determine who to speak with or send pull requests to.

# Project: python-flask-recipe
* @@ep11-engineering-enablement